body {
    margin: 0;
    padding: 0;
}

.nav_image {
    width: 100%;
    position: relative;
}

.game_title {
    position: absolute;
    top: 60px;
    left: 35%;
    font-size: 30px;
}

.kids_holding_div {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.kids_holding {
    width: 15%;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        left: 0px;
        top: -30px;
        transform: rotateZ(0deg);
    }

    50% {
        left: 80px;
        top: -30px;
        transform: rotateZ(10deg);
    }

    100% {
        left: -80px;
        top: -30px;
        transform: rotateZ(20deg);
    }

    /* 75%  {left:0px; top:200px;} */
    /* 100% {left:0px; top:0px;}  */
}

.choose_level{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_level {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 35%;
}

/* .levels{
    display: flex;
} */
.levels ul {
    list-style: none;
}

.levels ul li {
    display: inline;
}

.levels button {
    border: none;
    font-size: 20px;
    background-color: white;
    background-image: url("../Vector.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.score_timer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.message_lost{
    display: none;
}

#game_interface{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#play_erea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play_erea p{
    font-size: 20px;
}

.word_input{
    width: 500px;
    height: 30px;
}

#playing_lvl{
    color:#FF826F;
}

.level_time{
    color:#FF826F
}