@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
:root {
    --main-color: #3b41c9;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sassoon Primary', cursive;
  }

  .game {
    background-color: #eee;
    min-height: 100vh;
  }
  .container {
    margin: auto;
    max-width: 900px;
  }
  .name {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  .message {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    text-align: center;
  }
  .message span {
    font-weight: bold;
    color: #f5be4a;
  }
  .message span::before {
    content: "[ ";
  }
  .message span::after {
    content: " ]";
  }
  .start {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f5be4a;
    color: rgb(15, 15, 15);
    padding: 20px;
    cursor: pointer;
  }
  .the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;
  }
  .input {
    margin: 15px 0;
    width: 100%;
    display: block;
    padding: 15px;
    border: 3px solid var(--main-color);
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    caret-color: var(--main-color);
  }
  .input:focus {
    outline: none;
  }
  .upcoming-words {
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .upcoming-words div {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    margin: 4px;
    padding: 10px;
    border-radius: 6px;
  }
  .control {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
  }
  .control span {
    font-weight: bold;
    color: #f5be4a;
  }
  .finish {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 15px;
  }
  .finish .good {
    color: var(--main-color);
  }
  .finish .bad {
    color: red;
  }

  /*  */
  .lessonwords{
    font-size: x-large;
    text-align :center;

}

button{
    margin: 3px;
}

.keycover{
    background-color: rgba(0, 18, 255, 0.1);
}

.click{
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: white;
}
.btn-next{
  color:red;
}